name: AWS Package Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade --no-cache-dir -r requirements.txt -t package/

      - name: Copy source files
        run: |
          cp -r *.py package/ || true  # 复制所有根目录的 py 文件
          # 如果你的源码在 src/ 目录：
          # cp -r src/* package/

      - name: Create zip package
        run: |
          cd package
          zip -r ../aws_package.zip .

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: aws_package
          path: aws_package.zip

          
